<header class="text-green-500 p-2 mb-4 flex justify-between">
    <div>
        <h1 class="font-spicy-rice-regular pt-4 pb-4 text-6xl text-vibes-dark-green">Daily Vibes</h1>
    </div>

    <div>
        <nav class="mt-2">
            <ul class="flex justify-end mr-4">
                <li class="mr-4"><a href="#" class="hover:underline">Home</a></li>
                <li class="mr-4"><a href="#" class="hover:underline">Posts</a></li>
                <li><a href="#" class="hover:underline">Profile</a></li>
            </ul>
        </nav>
    </div>
</header>