    <header>
        <h1>My Social Media App</h1>
        <nav>
            <ul>
                <li><a href="#">Explore</a></li>
                <li><a href="#">Messages</a></li>
                <li><a href="#">Profile</a></li>
            </ul>
        </nav>
    </header>