<header class="p-4 flex justify-center text-center">
    <div>
        <h1 class="font-spicy-rice-regular text-6xl text-vibes-dark-green">Daily Vibes</h1>
    </div>
    <div class=" right-3 top-8 absolute flex gap-6 justify-end items-center text-xl text-vibes-dark-green">
        <a href="/profile/{{username}}" class="hover:underline font-bold">Profile</a>
        <a href="/settings"> <i class=" fa-solid fa-gear cursor-pointer pr-4"></i></a>

    </div>
</header>