<header class="bg-green-500 text-white p-4 mb-4">
    <div class="container mx-auto">
        <h1 class="text-2xl font-bold">My Social Media App</h1>
        <nav class="mt-2">
            <ul class="flex">
                <li class="mr-4"><a href="#" class="hover:underline">Home</a></li>
                <li class="mr-4"><a href="#" class="hover:underline">Messages</a></li>
                <li><a href="#" class="hover:underline">Profile</a></li>
            </ul>
        </nav>
    </div>
</header>
