<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Vibes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet">
    <link href="/output.css" rel="stylesheet">
</head>

<body class="bg-gray-50 h-screen
" id="mainBody">

    {{{body}}}

    <script src="/js/settings.js"></script>
    <script src="/js/comment.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/posts.js"></script>
    <script src="https://kit.fontawesome.com/ce618619cf.js" crossorigin="anonymous"></script>
</body>

</html>