<div class="h-full">
    <div class="text-center">
        <h1 class="text-center font-spicy-rice-regular pt-4 pb-4 text-6xl text-vibes-dark-green">Daily Vibes</h1>
    </div>
    <div class="h-[90%] flex items-center flex-col pt-4 overflow-auto">
        <div
            class="w-[30%] flex justify-center items-center bg-white border border-vibes-light-green rounded-md shadow-2xl flex-col pt-2 px-7 pb-4">
            <input type="text" id="userTitle" placeholder="Whats the vibe?"
                class="mt-1 p-2 block w-full border border-vibes-light-green rounded-md bg-gray-100">
            <input type="text" id="userInput" placeholder="Spill the tea"
                class="mt-1 p-2 block w-full border border-vibes-light-green rounded-md bg-gray-100 pb-14">
            <button id="post-button"
                class="px-4 py-2 mt-3 border bg-vibes-light-green rounded-md w-1/4 text-white hover:bg-vibes-medium-green focus:bg-vibes-dark-green"
                onclick="createPost()">Post</button>
        </div>
        <div id="posts-container" class="flex flex-col mt-4 w-1/2 items-center gap-2 shadow-lg">
            {{#each posts as |post|}}
            <div class="bg-white shadow-md p-6 border border-1 border-vibes-medium-green w-full rounded-md">
                <div id="postAuthor" class="text-blue-600 italic cursor-pointer hover:text-blue-500">
                    @{{post.user.dataValues.username}}
                </div>
                <div class="border-2 border-vibes-medium-green rounded-md p-3">
                    <div id="title" class="text-lg font-bold">
                        {{title}}
                    </div>
                    <div id="content">
                        {{content}}
                    </div>
                </div>
                <div class="displayDateBox">
                    {{created_at}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>