@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind autoprefixer;

.font-spicy-rice-regular {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3E5D4F;
    border-radius: .5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}